.s-marketing{
    padding-top: 96px;
    padding-bottom: 126px;

    .box{
        width: 100%;
        height: 28.75rem;
        background: url(/assets/bg-marketing.png) no-repeat center center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2{
            text-align: center;
            font-size: 3.5rem;
            max-width: 49.125rem;
            margin-bottom: .5rem;
        }

        p{
            color: $gray-200;
            text-align: center;
            font-size: 20px;
            font-weight: 400;
            line-height: 150%; /* 30px */
            width: 31.25rem;
            margin-bottom: 2rem;
        }
    }
}